<div class="container-fluid g-0">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary" style="background-color:blue;">
  <a href="#" class="navbar-brand" style="padding-left: 100px;font-size: 2rem;"><strong>Flipkart</strong></a>
  <button class="navbar-toggler" data-bs-target="#menu" data-bs-toggle="collapse">
      <span class="navbar-toggler-icon"></span>
  </button>
         <div id="menu" class="collapse navbar-collapse">
     <ul class="navbar-nav mx-auto">
        <li class="nav-item">
            <a routerLink="admindashboard" class="nav-link" routerLinkActive="active" >admindashboard</a>
        </li>
     
         
     </ul>
 </div>
     </nav>
 

    </div>

     <router-outlet></router-outlet>